/*
  Roboto: 
  400, 500
  regular-normal, medium
 
  Roboto Condensed:
  700
  Bold
*/

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Medium.ttf");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Roboto Condensed";
  src: url("../fonts/Roboto_Condensed-Bold.ttf");
  font-weight: 700;
  font-style: normal;
}

* {
  font-family: "Roboto", sans-serif, serif;
  /* keyinchalik tushunib olamiz */
  margin: 0;
}

.list-none {
  list-style: none;
}

.site-logo {
  transition: opacity 0.5s ease;
}
.site-logo:hover {
  opacity: 0.8;
}
.site-logo:active {
  opacity: 0.6;
}

.site-header {
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 5px solid #FF7500;
  padding: 16px 0;
}

.site-header-nav {
  display: flex;
  align-items: center;
  gap: 32px;
}
 
.site-header-list {
  display: flex;
  gap: 32px;
  padding: 0;
}

.sitenav-link {
  font-weight: 500;
  font-size: 13px;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  color: #000;
  text-decoration: none;
  transition: color 0.5s ease, opacity 0.5s ease;
}

.sitenav-link:hover {
  color: #FF7500;
}

.sitenav-link:active {
  opacity: 0.8;
}

.main-link {
  background-color: #ff7500;
  font-weight: 700;
  font-size: 13px;
  letter-spacing: 0.04em;
  color: #fff;
  text-decoration: none;
  transition: opacity 0.5s ease;
  padding: 12px 24px;
  border-radius: 4px;
  display: inline-block;
}

.main-link:hover {
  opacity: 0.8;
}
.main-link:active {
  opacity: 0.6;
}

.hero-section {
  background-color: #252420;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 80px 0;
}

.hero-content {
  width: 390px;
  color: #fff;
}

.hero-section img {
  border-radius: 8px;
}

.orange-line {
  background-color: #FF7500;
  width: 80px;
  height: 3px;
  border: none;
}

.hero-title {
  font-family: "Roboto Condensed";
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: 0.5px;
}

.hero-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.5px;
}

.feature-section {
  padding: 210px 0;
}

.feature-title {
  color: #000;
  font-weight: 700;
  font-size: 72px;
  line-height: 86px;
  letter-spacing: 0.5px;
}

.feature-list {
  display: flex;
  justify-content: space-between;
  padding: 0;
}

.feature {
  width: 340px;
  color: #000;
}

.feature-item-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.5px;
}

.feature-item-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.5px;
}

.sale {
  background-color: #252420;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 64px 0;
  border-radius: 12px;
}

.sale img {
  border-radius: 12px;
}

.sale-content {
  width: 440px;
  color: #fff;
}

.sale-title {
  font-weight: 700;
  line-height: 48px;
  letter-spacing: 0.5px;
  font-size: 40px;
}

.sale-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.5px;
}

.primary-text {
  color: #ff7500;
  font-weight: 700;
}

.site-footer {
  background-color: #f8f8f8;
  padding: 56px 0;
}

.footer-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-top-list {
  display: flex;
  gap: 16px;
  padding: 0;
}

.footer-divider {
  height: 2px;
  background-color: #25242080;
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
}

.footer-bottom-list {
  padding: 0;
}

.footer-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: #252420;
  text-decoration: none;
  transition: color 0.5s ease, opacity 0.5s ease;
}

.footer-link:hover {
  color: #FF7500;
}

.footer-link:active {
  opacity: 0.8;
}