.site-header {
  background-color: #FFFFFF;
}

.sitenav-link{
  font-weight: 500; /*tekstning qalanligi*/
  font-size: 13px; /*Tekstning kattaligi*/
  line-height: 15px; /*liniyaning uzunligi*/
  letter-spacing: 1px; /*Harflar orasidagi masofa*/
  color: #000; /*Tekstning ranggi*/
  text-decoration: none; /*Tekstning pastki chiziqini o'xhirish*/
  text-transform: uppercase; /*Takstlar katta harfda*/
}